body{
    background-color:rgb(243, 235, 237);
}
table{
    margin:110px 50px 30px 500px;
    background-color: rgb(26, 89, 225);
      border-radius: 20px;
    
}
table,td {
        border: 3px solid black;
        text-align: center;
     }
td{
    height:60px;
    width:120px;
    border-radius: 20px;
}
#calc{
 width: 250px;
border: 3px solid black;
border-radius: 3px;
padding: 20px;
margin: auto;
}
button{
    font-size:20px;
    height:40px;
    width:40px;
}


@media only screen and (max-width: 600px) {
table{
    margin-left:160px;
}
}
@media only screen and (max-width: 800px) {
table{
    margin-right:0px;
    margin-left:180px;
}
}
@media only screen and (max-width: 1000px) {
table{
    
    margin-left:190px;
}
}
@media only screen and (max-width: 1200px) {
    table{
        
        margin-left:190px;
    }
    }

    #output {
        font-size: 24px;
        font-weight: bold;
        margin-top: 20px;
    }


    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        color: #333;
    }
    h1, p {
        text-align: center;
    }
    input[type="text"] {
        font-size: 24px;
        padding: 10px;
        margin: 10px auto;
        display: block;
    }
    #result {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
    }
    button[type="submit"] {
        font-size: 24px;
        color: #0062cc;
        padding: 10px 20px;
        margin: 10px auto;
        display: block;
        /* background-color: #007bff; */
        /* color: #fff; */
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    